.vscode
bot

data/users
data/token.txt
data/messageLog.txt
data/gptLogs
data/botStates.json
data/goosebumps/gbStates.json
data/tictactoe/tttStates.json
outputs

models

input.txt
output.txt

*__pycache__
*__init__.py